# Node Dependencies
node_modules/

# Build Outputs
dist/

# Secrets
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing/Coverage Files
coverage/

# Git
.git/
.gitignore

# IDE/OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db