# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual Environment
.venv

# Secrets
.env
*.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# React
node_modules/
build/
dist/
coverage/

# MLflow
mlartifacts/
mlflow.db
mlruns/
notebooks/*.png
notebooks/*.txt

# Dataset
/data/

# Model Artifacts
/artifacts/